[Unit]
Description=MTP server
Requires=android-system.service

[Service]
Type=simple
Restart=on-failure
Environment="GLOG_logtostderr=1"
Environment="GLOG_v=1"
ExecStart=/usr/bin/mtp-server
ExecStartPost=-/usr/bin/luna-send -n 1 -w 1000 luna://com.palm.storage/diskmode/avail "{\"connected\":true}"
ExecStopPost=-/usr/bin/luna-send -n 1 -w 1000 luna://com.palm.storage/diskmode/avail "{\"connected\":false}"
StandardOutput=null
